
@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 }



.btn-style{
    @apply  text-base-100 font-bold bg-linear-to-br from-orange-400 to-orange-600 px-8 cursor-pointer hover:from-orange-600 hover:to-red-600 transform hover:scale-105 transition-all duration-300 shadow-xl
}

.input-style{
    @apply w-full px-6 py-4 rounded-full text-gray-900 placeholder-gray-600 focus:outline-none focus:ring-3 focus:ring-orange-400 transition-all 
}